@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: black;
  /* background-image: "graphics/Ellipse 1.png"; */
}

.parent-login {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10;
  /* background-color: #332; */
  /* border: 1px solid#575757; */
  height: 50px;
}

.parent-top {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  margin: 20;
  /* background-color: #332; */
  /* border: 1px solid#575757; */
  height: 20vh;
}

.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid#575757; */
  height: 30vh;
  min-height: 300px;
}

.parent-bottom-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* margin: 10px; */
  /* border: 1px solid#575757; */
}

.parent-bottom-middle {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 300px;
}
.parent-bottom-bar {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 70px;
  bottom: 0;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}

.child-top-1 {
}

.child-top-2 {
  align-self: flex-end;
}

.child-center {
  z-index: 0;
  position: sticky;
  transform: translate(0%, 10%);
}

.child-center-timer {
  background-color: black;
  width: 140px;
  height: 50px;
  z-index: +1;
  transform: translate(38%, -410%);
}

.child-center-timer-status {
  background-color: black;
  width: 60px;
  height: 18px;
  z-index: +2;
  position: sticky;
  transform: translate(150%, -1100%);
}

.child-bottom-ui {
}

.child-bottom-middle {
  transform: translate(0%, -85%);
}

.child-bottom-bar {
}

.timer {
  color: white;
  font-family: Roboto black;
  font-size: 48px;
  text-align: center;
}

.timer-status {
  color: white;
  font-family: Roboto black;
  font-size: 16px;
  text-align: center;
}
