@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* {
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.clock, .clock-time{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.product-image{
    z-index:-1;
}


